/* Special Animation for Ravi Gold Workshop */
.glow {
  animation: glowPulse 2.5s infinite ease-in-out;
  border: 1px solid #facc15;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.4);
  }
  50% {
    box-shadow: 0 0 30px rgba(250, 204, 21, 0.9);
    transform: scale(1.02);
  }
  100% {
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.4);
  }
}
